/* File: CategoryStory.module.css */

.category-card {
  min-height: 360px; /* Adjust this value to your desired height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 6px !important;
}

 
.description {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  /* Adjust height for description */
}

.text-balance {
  display: block;
  line-height: 1.4;
  text-overflow: ellipsis;
  font-size: 15px;
  overflow: hidden;
  max-height: 100%;
  white-space: normal;
}
