@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

 
/* src/styles/Banner.css */
.background {
  background-image: url('../assets/all-img/logo.png');
  background-size: cover;
  height: 100vh;
  width: 600px;
  background-position: center; /* Optional for centering */
}

.animation {
  animation: animations 4s infinite; /* Specify duration and infinite looping */
}

@keyframes animations {
  50% {
    margin-top: 30px;
    margin-left: 40px;
  }
  100% {
    margin-top: 0; /* Reset margin-top to 0 at 100% */
    margin-left: 0; /* Reset margin-left to 0 at 100% */
  }
}

.input-file{
  font-size: 16px;
  margin-top: 3px;
  background: transparent;
  
}

::-webkit-file-upload-button{
  color: white;
  background: #7532D4;
  padding: 10px;
  border: none;
  border-radius: 5px 5px 50px;
}
.dark ::-webkit-file-upload-button{
  color: #7532D4;
  background: #0b2629;
}
::-webkit-file-upload-button:hover{
  background: #091e20;
}
::-webkit-file-upload-button:hover{
  background: #091e20;
}
.dark .input-file{
  background: white;
}

/* category css  */



.box {
  width: 100%;
  height: 288px;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
}
.box img {
  transition: transform 0.5s ease;
}

.box:hover img {
  transform: scale(1.2);
}

.content {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 0;
  bottom: -100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid white;
  width: 100%;
  color: white;
  text-align: center;
  transition: all 1s;
  transform-origin: center;
}

.box:hover .content {
  bottom: 0;
   
}

