@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nanum Gothic", sans-serif;
  
}

/* src/styles/Banner.css */
.background {
  background-image: url('../assets/all-img/logo.png');
  background-size: cover;
  height: 100vh;
  width: 600px;
  background-position: center; /* Optional for centering */
}

.animation {
  animation: animations 4s infinite; /* Specify duration and infinite looping */
}

@keyframes animations {
  50% {
    margin-top: 30px;
    margin-left: 40px;
  }
  100% {
    margin-top: 0; /* Reset margin-top to 0 at 100% */
    margin-left: 0; /* Reset margin-left to 0 at 100% */
  }
}
