 
 
 .headroom {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  .headroom--unfixed {
    position: relative;
    transform: translateY(0);
    height: 0px;
    background: transparent;
  }
  .headroom--scrolled {
    transition: transform 200ms ease-in-out;
    background: black;
  }
  .headroom--unpinned {
    position: fixed;
    transform: translateY(-100%);
     
  }
  .headroom--pinned {
    position: fixed;
    transform: translateY(0%);
     
  }